/* reset css */

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}

* a{
    text-decoration: none;
}

ul{
    list-style: none;
}


/* scrollbar design */

::-webkit-scrollbar{
display: none;
-ms-overflow-style: none;
scrollbar-width: none;
}


/* primary colours */

:root{
--bluebg: #202430;
--bluebglight: #232734;
--accentredtransparent:#f6414100;
--accentred: #f64142;
--accentreddark:#f6414197;
--grey: #999;
--white: #ffffff;
--facebook:#4267b2;
--twitter:#1da1f2;
--linkedin:#0e76a8;
--youtube:#ff0000;
--instagram:#bc2a8d;
}


/* universal css classes */

body{
    background-color: var(--bluebg);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    display: grid;
    grid-template-columns:100vw;
    grid-template-rows: 100vh 100vh 100vh 170.2vh 100vh 10vh;
    grid-template-areas: 
    'landingpage '
    'aboutme     '
    'services    '
    'portfolio   '
    'contacts    '
    'footer      ';
    overflow-x: hidden;
}

.landingpage,
.aboutme,
.services,
.portfolio,
.contacts{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5,20vw);
}

.aboutme,
.portfolio,
.footer{
    background-color: var(--bluebglight);
}

.heading{
    font-size: 2.2vw; 
    letter-spacing:0.3vw;
}

.subheading{
    font-size:1.2vw ;
    font-weight: lighter;
    letter-spacing:0.5vw;
    color: var(--grey);
}

.subtitles{
    font-size:1vw ;
    letter-spacing:0.4vw ;
    color: var(--grey);
}

.bodytext{
    font-size: 1vw;
    letter-spacing:0.1vw ;
    line-height:3.5vh ;
    color: var(--grey);
}

.button a{
    font-size:1vw ;
    letter-spacing:0.3vw;
    color: white;
    background-color: var(--accentreddark);
    padding: 5px 20px;
    border-radius: 10px;    
    transition-duration: 0.5s;
}

.button a:hover{
    background-color: var(--accentred);
    transition-duration: 0.5s;
}

.socialicons{
    margin: auto;
}

.socialicons img{
    height: 20px;
    margin-top: 20px;
    opacity: 60%;
    transition-duration: 0.2s;
}

.socialicons img:hover{
    opacity: 100%;
    transition-duration: 0.3s;
}

.socialicons #facebook:hover{
    filter: drop-shadow(0 0 10px var(--facebook));
}
.socialicons #twitter:hover{
    filter: drop-shadow(0 0 10px var(--twitter));
}
.socialicons #linkedin:hover{
    filter: drop-shadow(0 0 10px var(--linkedin));
}
.socialicons #youtube:hover{
    filter: drop-shadow(0 0 10px var(--youtube));
}
.socialicons #instagram:hover{
    filter: drop-shadow(0 0 10px var(--instagram));
}

.verticalline{
    z-index: 100;
}


/* loading animation */

.loader-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bluebg);
    z-index: 200;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns:40vw 20vw 40vw ;
    grid-template-rows:40vh 20vh 40vh ;
}

.loader {
    grid-row-start: 2;
    grid-column-start: 2;
    width: 50px;
    height: 50px;
    margin: auto;
    border: 4px solid var(--accentred);
    border-radius: 0px 12px 0px 12px;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: var(--accentred);
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}


/* navbar */

nav{
    position: fixed;
}

#navlogo{
    position: absolute;
    height: 20px;
    top: 3.7vh;
    left: 3.7vw;
}

#navbg{
    display: none;
}

#menuToggle{
    display: block;
    position: fixed;
    top: 3.7vh;
    right: 3.7vw;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a{
    text-decoration: none;
    color: var(--grey);
    transition: color 0.3s ease;
}

#menuToggle a:hover{
    color: var(--accentred);
}

#menuToggle a:active{
    color: var(--accentred);
}

#menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

#menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--grey);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}


#menuToggle span:first-child{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--grey);
}

#menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
}

#menu{
    position: absolute;
    width: 15vw;
    margin: 10px 0 0 -8.7vw;
    padding: 15px;
    background: transparent;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li{
    padding: 10px 0;
    font-size: 2vh;
    letter-spacing: 0.2vw;
    font-weight: bolder;
    margin-right: 50px;
    text-align: right;
}

#menuToggle input:checked ~ ul{
    transform: none;
}


/* landing page */

.landingpage{
    grid-area: landingpage;
    grid-template-rows: 41vh 4vh 10vh 4vh 41vh ;
}

#landingbg{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
    width:30vw;
    margin: auto;
    z-index: -99;
    opacity: 30%;
}

#line1{
    font-size: 1.1vw;
    letter-spacing: 0.8vw;
    grid-column-start: 2;
    grid-row-start: 2;
    margin-left: 2.9vw;
}

#line2{
    font-size: 5vw;
    letter-spacing: 1.9vw;
    line-height: 10vh;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    margin: auto;
}

#line3{
    font-size: 1.1vw;
    letter-spacing: 0.75vw;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    margin: auto;
}

#line1,
#line3{
    color: var(--grey);
}

#vl1{
    grid-column-start: 1;
    grid-row-start: 5;
    margin: auto;
}

.landingpage .verticalline img{
    height: 41vh;
    margin-top: 22vh;
}


/* about page */

.aboutme{
    grid-area: aboutme;
    grid-template-columns: 20vw 30vw 30vw 20vw;
    grid-template-rows: 10vh 7vh 8vh 25vh 40vh 10vh;
}

#aboutmeblock{
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 3;
    background-color: var(--accentred);
    border-radius: 0px 40px 0px 40px;
}

#aboutmeheading{
    grid-row-start: 2;
    grid-column-start: 3;
    padding: 30px 0px 0px 30px;
}

#aboutmepara{
    grid-column-start: 3;
    grid-row-start: 4;
    grid-row-end: 6;
    padding: 0px 30px 30px 30px;
    text-align: justify;
    color: white;
}


#aboutmeimage{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 6;
    width:25vw ;
    margin: auto;
    border-radius: 40px 0px 40px 0px;
}

.aboutme .socialicons{
    grid-row-start: 5;
    grid-column-start: 1;
}


#vl2{
    grid-column-start: 4;
    grid-row-start: 5;
    margin: auto;
}

.aboutme .verticalline img{
    height: 41vh;
    margin-top: 30vh;
}


/* services */

.services{
    grid-area: services;
    grid-template-rows: 10vh 7vh 2vh 24vh 18vh 2vh 24vh 3vh 10vh;
}

#servicesheading{
    grid-column-start: 3;
    grid-row-start: 2;
    text-align: center;
}

#servicessub{
    grid-column-start: 3;
    grid-row-start: 3;
    text-align: center;
}

.services .subtitles{
    grid-row-start:6 ;
    text-align: center;
}

.services .serviceicons{
    height: 90px;
    grid-row-start: 5;
    margin: auto;
    transition-duration: 0.4s;
}

.serviceicons:hover{
    transform: scale(1.1);
    transition-duration: 0.4s;
}

#icon1,#icontitle1{ grid-column-start: 2;}
#icon2,#icontitle2{ grid-column-start: 3;}
#icon3,#icontitle3{ grid-column-start: 4;}

.services .button{
    grid-row-start: 8;
    grid-column-start: 3;
    margin: auto;
}

#vl3{
    grid-column-start: 1;
    grid-row-start: 7;
    margin: auto;
}

.services .verticalline img{
    height: 41vh;
    margin-top: 16vh;
}


/* portfolio */

.portfolio{
    grid-area: portfolio;
    grid-template-columns: 20vw 30vw 30vw 20vw;
    grid-template-rows: 10vh 7vh 2vh 10vh 40.4vh 40.4vh 40.4vh 5vh 5vh 10vh;
}

#portfolioheading{
    grid-column-start: 2;
    grid-row-start: 2;
}

#portfoliosub{
    grid-column-start: 2;
    grid-row-start: 3;
}

.projectimg{
    height: 40.1vh;
    width: 30vw;
    transition-duration: 0.3s;
    margin: auto;
    z-index: -98;
}

.projecttitle{
    font-weight: bolder;
    color: white;
    opacity: 0%;
    transition-duration: 0.3s;
    -webkit-transform: translate(-0%, -20.05vh);
    -ms-transform: translate(-0%, -20.05vh);
    transform: translate(-0%, -20.05vh);
    text-align: center;
}

.projects:hover .projectimg{
    transform: scale(0.85);
    transition-duration: 0.4s;
    border-radius: 0px 40px 0px 0px;
    filter: brightness(0.2);
    border: 2px solid var(--accentred);
}

.projects:hover .projecttitle{
    opacity: 100%;
    transition-duration: 0.3s;
}

.project1{ grid-column-start:2 ; grid-row-start:5 ; margin: auto; }


.project2{ grid-column-start:3 ; grid-row-start:5 ; margin: auto; }
.project3{ grid-column-start:2 ; grid-row-start:6 ; margin: auto; }
.project4{ grid-column-start:3 ; grid-row-start:6 ; margin: auto; }
.project5{ grid-column-start:2 ; grid-row-start:7 ; margin: auto; }
.project6{ grid-column-start:3 ; grid-row-start:7 ; margin: auto; }

.portfolio .button{
    margin: auto;
}
#seemore{ grid-column-start: 3;grid-row-start:9 ;}
#hireme{ grid-column-start: 2;grid-row-start:9 ;}

#vl4{
    grid-column-start: 4;
    grid-row-start:9 ;
    margin: auto;
}

.portfolio .verticalline img{
    height: 28vh;
    margin-top: 1vh;
}


/* contacts */

.contacts{
    grid-area: contacts;
    grid-template-columns: 20vw 30vw 30vw 20vw;
    grid-template-rows: 10vh 7vh 2vh 10vh 51vh 10vh 10vh;
}

#contactheading{
    grid-row-start: 2;
    grid-column-start: 2;
}

#contactsub{
    grid-row-start: 3;
    grid-column-start: 2;
}

form{
    grid-row-start: 5;
    grid-column-start:2 ;
    
}

form #name,
form #phoneno,
form #email,
form #message
{
    background-color: transparent;
    width: 30vw;
    padding: 10px;
    padding-left: 0px;
    border: none;
    border-bottom: 1px solid var(--grey);
    margin-bottom: 6vh;
    font-size: 1vw;
    letter-spacing: 0.1vw;
    font-weight: bolder;
    font-family:'Yanone Kaffeesatz', sans-serif ;
    color: white;
}

form #message{
    color: var(--grey);
    font-family:'Yanone Kaffeesatz', sans-serif ;
    height: 19vh;
    color: white;
}

form button{
    font-family:'Yanone Kaffeesatz', sans-serif ;
    font-size:1vw ;
    letter-spacing:0.3vw;
    color: white;
    background-color: var(--accentreddark);
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    transition-duration: 0.5s;
}

form button:hover{
    background-color: var(--accentred);
    transition-duration: 0.5s;
}

#qrcode{
    height: 235px;
    padding-bottom: 30px;
    margin: auto;
}

.contactdetails{
    grid-column-start: 3;
    grid-row-start: 5;
    margin: auto;
    padding: 50px;
    background-color: var(--accentred);
    letter-spacing: 0.1vw;
    border-radius: 0px 40px 0px 40px;
}

.contacts .socialicons{
    grid-row-start:5 ;
    grid-row-end: 8;
    grid-column-start: 4;
}


/* footer */

footer{
    grid-area: footer;
    font-size: 0.8vw;
    letter-spacing: 0.4vw;
    font-weight: lighter;
    color:var(--grey);
    margin-top: 4vh;
    text-align: center;
}



/* responsive for mobile screen */

@media screen and (max-width : 576px){
    body{
        grid-template-rows: 100vh 100vh 100vh 200vh 100vh 10vh;
    }
    .landingpage,
    .aboutme,
    .services,
    .portfolio,
    .contacts{
        grid-template-columns: 10vw 80vw 10vw;
    }

    .heading{
        font-size: 4.7vw; 
    }

    .subheading{
        font-size:3.8vw ;
    }

    .subtitles{
        font-size:3vw ;
    }

    .bodytext{
        font-size: 3vw;
        line-height:2.6vh;
    }

    .button a{
        font-size:3vw ;  
        background-color:var(--accentred);
        font-weight:bolder;
    }

    .socialicons img{
        height: 17px;
        margin-top: 20px;
    }

    .verticalline{
        display:none;
    }


    /* navbar */
     
    #navlogo{
        top: 1.7vh;
        left: 3.7vw;
        z-index:10;
    }

    #navbg{
        display:block;
        position:fixed;
        top:0;
        left:0;
        width:100vw;
        height:6.5vh;
        background-color:var(--bluebg);
    }

    #menuToggle{
        top: 1.7vh;
        right: 3.7vw;
    }

    #menuToggle a{
        color:var(--white);
    }
    
    #menuToggle a:hover{
        color: var(--white);
    }
    
    #menuToggle a:active{
        color: var(--white);
    }
    
    #menuToggle span{
        width: 25px;
        height: 3px;
        margin-bottom: 4px;
    }
        
    #menu{
        position: absolute;
        width: 30vw;
        margin: 10px 0 0 -15vw;
        padding: 5px;
        padding-left:10px;
        background: var(--accentred);
        border:2px solid var(--bluebg);
        border-radius:40px 0px 0px 40px;
        z-index:20;
    }
    
    #menu li{
        padding: 7px 0;
        margin-right:7vw;
    }
    
    
    /* landing page */

    .landingpage{
        grid-template-rows: 35vh 4vh 11vh 11vh 4vh 35vh ;
    }

    #landingbg{
        grid-column-start: 2;
        grid-column-end:3;
        grid-row-start: 1;
        grid-row-end: 7;
        width:60vw;
        opacity:40%;
        margin-right:0px;
    }

    #line1{
        font-size: 4.1vw;
        letter-spacing: 0.8vw;
        grid-column-start: 2;
        grid-row-start: 2;
        margin-left:2px;
    }

    #line2{
        font-size: 20vw;
        letter-spacing: 1.9vw;
        line-height: 11vh;
        grid-column-start: 2;
        grid-row-start: 3;
        margin: auto;
    }

    #line3{
        font-size: 3.2vw;
        letter-spacing: 0.75vw;
        grid-column-start: 2;
        grid-row-start: 5;
        margin-left:2px;
    }


    /* about page */

    .aboutme{
        grid-template-columns: 20vw 70vw 10vw;
        grid-template-rows: 10vh 40vh 5vh 35vh 10vh;
    }

    #aboutmeblock{
        grid-row-start: 3;
        grid-row-end:5;
        grid-column-start: 2;
        border-radius: 0px 40px 0px 40px;
        z-index:5;
    }

    #aboutmeheading{
        grid-row-start: 3;
        grid-column-start: 2;
        padding: 20px 0px 0px 20px;
        z-index:6;
    }

    #aboutmepara{
        grid-column-start: 2;
        grid-row-start: 4;
        padding: 10px 20px 20px 20px;
        z-index:6;
    }


    #aboutmeimage{
        grid-column-start: 2;
        grid-row-start: 2;
        width:70vw ;
        border-radius: 0px 40px 0px 40px;
        margin:0px;
    }

    .aboutme .socialicons{
        grid-row-start: 4;
        grid-column-start: 1;
    }


    /* services */

    .services{
        grid-template-rows: 10vh 5vh 2vh 20vh 2vh 20vh 2vh 20vh 2vh 2vh 5vh 10vh;
    }

    #servicesheading{
        grid-column-start: 2;
        grid-row-start: 2;
    }

    #servicessub{
        grid-column-start: 2;
        grid-row-start: 3;
    }

    .services .serviceicons{
        height: 70px;
    }
    
    #icon1,#icontitle1,
    #icon2,#icontitle2,
    #icon3,#icontitle3{ grid-column-start: 2;}

    #icon1{ grid-row-start:4;}
    #icon2{ grid-row-start:6;}
    #icon3{ grid-row-start:8;}

    #icontitle1{ grid-row-start:5;}
    #icontitle2{ grid-row-start:7;}
    #icontitle3{ grid-row-start:9;}
    

    .services .button{
        grid-row-start: 11;
        grid-column-start: 2;
    }


    /* portfolio */

    .portfolio{
        grid-template-rows: 10vh 5vh 2vh 4vh 25vh 2vh 25vh 2vh 25vh 2vh 25vh 2vh 25vh 2vh 25vh 2vh 7vh 10vh;
    }

    #portfolioheading,
    #portfoliosub{
        text-align:center;
    }

    .projectimg{
        height: 25vh;
        width: 80vw;
    }

    .projects:hover .projectimg{
        transform: none;
        border-radius: 0;
        border:none;
    }

    .projects:hover .projecttitle{
        opacity: 0%;
    }

    .project1,
    .project2,
    .project3,
    .project4,
    .project5,
    .project6{ grid-column-start:2; margin:auto;}

    .project1{ grid-row-start:5 ; }
    .project2{ grid-row-start:7 ; }
    .project3{ grid-row-start:9 ; }
    .project4{ grid-row-start:11 ; }
    .project5{ grid-row-start:13 ; }
    .project6{ grid-row-start:15 ; }

    #seemore,
    #hireme{ grid-column-start: 2;}

    #seemore{ grid-row-start:17 ; margin-left:10vw;}
    #hireme{ grid-row-start:17 ; margin-right:10vw;}

  
    /* contacts */

    .contacts{
        grid-template-rows: 10vh 5vh 2vh 53vh 20vh  10vh;
    }

    form{
        grid-row-start: 4;     
    }

    form #name,
    form #phoneno,
    form #email,
    form #message{
        width: 80vw;
        margin-bottom: 3vh;
        font-size: 3vw;
    }

    form button{
        font-size:3vw ;
        font-weight:bolder;
        background-color:var(--accentred);
    }

    #qrcode{
        display:none;
    }

    .contactdetails{
        grid-column-start: 2;
        font-size:4vw;
        margin-left:0;
        padding: 35px 25px;
        height:20vh;
        width:60vw;
    }

    .contacts .socialicons{
        grid-row-start:5 ;
        grid-row-end:5;
        grid-column-start: 2;
        margin-right:10px;
    }

    .contacts .socialicons img{
        height:15px;
        margin-top:8px;
    }


    /* footer */

    footer{
        font-size: 2vw;
        margin-top: 5vh;
        text-align: center;
    }
}

