/* reset css */

    *{
        box-sizing: border-box;
        margin: 0%;
        padding: 0%;
        scroll-behavior: smooth;
    }

    * a{
        text-decoration: none;
    }

/* scrollbar design */
::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* primary colours */
:root{
    --bluebg: #202430;
    --bluebglight: #232734;
    --accentred: #f64142;
    --accentreddark:#f6414195;
    --grey: #999;
    --white: #ffffff;
    --facebook:#4267b2;
    --twitter:#1da1f2;
    --linkedin:#0e76a8;
    --youtube:#ff0000;
    --instagram:#bc2a8d;
}

/* universal css classes */

    body{
        background-color: var(--bluebg);
        font-family: 'Yanone Kaffeesatz', sans-serif;
        color: white;
        display: grid;
        grid-template-columns:100vw;
        grid-template-rows: 100vh 100vh 100vh 200vh 100vh 10vh;
        grid-template-areas: 
        'landingpage '
        'aboutme     '
        'services    '
        'portfolio   '
        'contacts    '
        'footer      ';
        overflow-x: hidden;
    }

    .landingpage,
    .aboutme,
    .services,
    .portfolio,
    .contacts{
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(5,20vw);
        /* border-bottom: 1px  solid var(--grey); */
    }

    .aboutme,
    .portfolio,
    .footer{
        background-color: var(--bluebglight);
    }
    .heading{
        font-size: 2.2vw; 
        letter-spacing:0.3vw;
    }

    .subheading{
        font-size:1.2vw ;
        font-weight: lighter;
        letter-spacing:0.5vw;
        color: var(--grey);
    }

    .subtitles{
        font-size:1vw ;
        letter-spacing:0.4vw ;
        color: var(--grey);
    }

    .bodytext{
        font-size: 1vw;
        letter-spacing:0.1vw ;
        line-height:3.5vh ;
        color: var(--grey);
    }

    .button a{
        font-size:1vw ;
        letter-spacing:0.3vw;
        color: white;
        background-color: var(--accentreddark);
        padding: 5px 20px;
        border-radius: 10px;    
        transition-duration: 0.5s;
    }

    .button a:hover{
        background-color: var(--accentred);
        transition-duration: 0.5s;
    }

    .socialicons{
        margin: auto;
    }

    .socialicons img{
        height: 20px;
        margin-top: 20px;
        opacity: 60%;
        transition-duration: 0.2s;
    }

    .socialicons img:hover{
        opacity: 100%;
        transition-duration: 0.3s;
    }

    .socialicons #facebook:hover{
        filter: drop-shadow(0 0 10px var(--facebook));
    }
    .socialicons #twitter:hover{
        filter: drop-shadow(0 0 10px var(--twitter));
    }
    .socialicons #linkedin:hover{
        filter: drop-shadow(0 0 10px var(--linkedin));
    }
    .socialicons #youtube:hover{
        filter: drop-shadow(0 0 10px var(--youtube));
    }
    .socialicons #instagram:hover{
        filter: drop-shadow(0 0 10px var(--instagram));
    }

    .verticalline{
        z-index: 100;
    }

/* navbar */

    nav{
        position: fixed;
    }

    #navlogo{
        position: absolute;
        height: 20px;
        top: 30px;
        left: 50px;
    }
    
    #menuToggle{
        display: block;
        position: fixed;
        top: 30px;
        right: 50px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a{
        text-decoration: none;
        color: var(--grey);
        transition: color 0.3s ease;
    }

    #menuToggle a:hover{
        color: var(--accentred);
    }

    #menuToggle a:active{
        color: var(--accentred);
    }

    #menuToggle input{
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
        -webkit-touch-callout: none;
    }

    #menuToggle span{
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: var(--grey);
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }


    #menuToggle span:first-child{
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2){
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span{
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: var(--grey);
    }

    #menuToggle input:checked ~ span:nth-last-child(3){
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2){
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu{
        position: absolute;
        width: 15vw;
        margin: -100px 0 0 -100px;
        padding: 50px;
        padding-top: 125px;
        background: transparent;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li{
        padding: 10px 0;
        font-size: 2vh;
        letter-spacing: 0.2vw;
        font-weight: bolder;
        margin-right: 50px;
        text-align: right;
    }

    #menuToggle input:checked ~ ul{
        transform: none;
    }

/* landing page */

    .landingpage{
        grid-area: landingpage;
        grid-template-rows:41vh 4vh 10vh 4vh 41vh ;
    }

    #landingbg{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 6;
        width:40vw;
        margin: auto;
        z-index: -99;
        opacity: 80%;
    }

    #line1{
        font-size: 1.1vw;
        letter-spacing: 0.8vw;
        grid-column-start: 2;
        grid-row-start: 2;
        margin-left: 2.9vw;
    }

    #line2{
        font-size: 5vw;
        letter-spacing: 1.9vw;
        line-height: 10vh;
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 3;
        margin: auto;
    }

    #line3{
        font-size: 1.1vw;
        letter-spacing: 0.75vw;
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 4;
        margin: auto;
    }

    #line1,
    #line3{
        color: var(--grey);
    }

    #vl1{
        grid-column-start: 1;
        grid-row-start: 5;
        margin: auto;
    }

    .landingpage .verticalline img{
        height: 41vh;
        margin-top: 22vh;
    }

/* about page */

    .aboutme{
        grid-area: aboutme;
        grid-template-columns: 20vw 30vw 30vw 20vw;
        grid-template-rows: 10vh 7vh 8vh 25vh 40vh 10vh;
    }

    #aboutmeblock{
        grid-row-start: 2;
        grid-row-end: 6;
        grid-column-start: 3;
        background-color: var(--accentred);
        border-radius: 0px 40px 0px 40px;
    }

    #aboutmeheading{
        grid-row-start: 2;
        grid-column-start: 3;
        padding: 30px 0px 0px 30px;
    }

    #aboutmepara{
        grid-column-start: 3;
        grid-row-start: 4;
        grid-row-end: 6;
        padding: 0px 30px 30px 30px;
        text-align: justify;
        color: white;
    }


    #aboutmeimage{
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 6;
        height: 67vh;
        margin: auto;
        border-radius: 40px 0px 40px 0px;
    }

    .aboutme .socialicons{
        grid-row-start: 5;
        grid-column-start: 1;
    }


    #vl2{
        grid-column-start: 4;
        grid-row-start: 5;
        margin: auto;
    }

    .aboutme .verticalline img{
        height: 41vh;
        margin-top: 30vh;
    }

/* services */

    .services{
        grid-area: services;
        grid-template-rows: 10vh 7vh 2vh 24vh 18vh 2vh 24vh 3vh 10vh;
    }

    #servicesheading{
        grid-column-start: 3;
        grid-row-start: 2;
        text-align: center;
    }

    #servicessub{
        grid-column-start: 3;
        grid-row-start: 3;
        text-align: center;
    }

    .services .subtitles{
        grid-row-start:6 ;
        text-align: center;
    }

    .services .serviceicons{
        height: 90px;
        grid-row-start: 5;
        margin: auto;
        transition-duration: 0.4s;
    }

    .serviceicons:hover{
        transform: scale(1.1);
        transition-duration: 0.4s;
    }

    #icon1,#icontitle1{ grid-column-start: 2;}
    #icon2,#icontitle2{ grid-column-start: 3;}
    #icon3,#icontitle3{ grid-column-start: 4;}

    .services .button{
        grid-row-start: 8;
        grid-column-start: 3;
        margin: auto;
    }

    #vl3{
        grid-column-start: 1;
        grid-row-start: 7;
        margin: auto;
    }

    .services .verticalline img{
        height: 41vh;
        margin-top: 16vh;
    }

/* portfolio */

    .portfolio{
        grid-area: portfolio;
        grid-template-columns: 20vw 30vw 30vw 20vw;
        grid-template-rows: 10vh 7vh 2vh 15vh 40.4vh 40.4vh 40.4vh 15vh 19.8vh 10vh;
    }

    #portfolioheading{
        grid-column-start: 2;
        grid-row-start: 2;
    }

    #portfoliosub{
        grid-column-start: 2;
        grid-row-start: 3;
    }

    .projectimg{
        height: 40.1vh;
        width: 30vw;
        transition-duration: 0.3s;
        margin: auto;
        z-index: -98;
    }

    .projectimg:hover{
        transform: scale(0.85);
        transition-duration: 0.4s;
        border-radius: 0px 40px 0px 0px;
        border: 2px solid var(--accentred);
        
    }

    .titles{
        opacity: 0%;
        font-size: 1vw;
        letter-spacing:0.1vw ;
        line-height:3.5vh ;
        color: var(--white);
        pointer-events: none;
    }

    .prodescription{
        font-size: 0.9vw;
        letter-spacing:0.1vw ;
        line-height:3vh ;
        color: var(--grey);
    }


    .projectimg:hover + .titles{
        padding: 10px;
        background-color: var(--bluebglight);
        border: 2px solid var(--accentred);
        border-top: none;
        opacity: 100%;
        transform: translateY(-17.4vh) scale(0.85);
        transition-duration: 0.4s;
    }
    
    .project1{ grid-column-start:2 ; grid-row-start:5 ; margin: auto; }
    .project2{ grid-column-start:3 ; grid-row-start:5 ; margin: auto; }
    .project3{ grid-column-start:2 ; grid-row-start:6 ; margin: auto; }
    .project4{ grid-column-start:3 ; grid-row-start:6 ; margin: auto; }
    .project5{ grid-column-start:2 ; grid-row-start:7 ; margin: auto; }
    .project6{ grid-column-start:3 ; grid-row-start:7 ; margin: auto; }



    .portfolio .button{
        margin: auto;
    }
    #seemore{ grid-column-start: 3;grid-row-start:9 ;}
    #hireme{ grid-column-start: 2;grid-row-start:9 ;}

    #vl4{
        grid-column-start: 4;
        grid-row-start:9 ;
        margin: auto;
    }

    .portfolio .verticalline img{
        height: 28vh;
        margin-top: 15vh;
    }

/* contacts */

    .contacts{
        grid-area: contacts;
        grid-template-columns: 20vw 30vw 30vw 20vw;
        grid-template-rows: 10vh 7vh 2vh 10vh 51vh 10vh 10vh;
    }

    #contactheading{
        grid-row-start: 2;
        grid-column-start: 2;
    }

    #contactsub{
        grid-row-start: 3;
        grid-column-start: 2;
    }

    form{
        grid-row-start: 5;
        grid-column-start:2 ;
        
    }

    form #name,
    form #phoneno,
    form #email,
    form #message
    {
        background-color: transparent;
        width: 30vw;
        padding: 10px;
        padding-left: 0px;
        border: none;
        border-bottom: 1px solid var(--grey);
        margin-bottom: 6vh;
        font-size: 1vw;
        letter-spacing: 0.1vw;
        font-weight: bolder;
        font-family:'Yanone Kaffeesatz', sans-serif ;
        color: white;
    }

    form #message{
        color: var(--grey);
        font-family:'Yanone Kaffeesatz', sans-serif ;
        height: 19vh;
        color: white;
    }

    form button{
        font-family:'Yanone Kaffeesatz', sans-serif ;
        font-size:1vw ;
        letter-spacing:0.3vw;
        color: white;
        background-color: var(--accentreddark);
        padding: 5px 20px;
        border: none;
        border-radius: 10px;
        transition-duration: 0.5s;
    }

    form button:hover{
        background-color: var(--accentred);
        transition-duration: 0.5s;
    }

    #qrcode{
        height: 235px;
        padding-bottom: 30px;
        margin: auto;
    }

    .contactdetails{
        grid-column-start: 3;
        grid-row-start: 5;
        margin: auto;
        padding: 50px;
        background-color: var(--accentred);
        letter-spacing: 0.1vw;
        border-radius: 0px 40px 0px 40px;
    }

    .contacts .socialicons{
        grid-row-start:5 ;
        grid-row-end: 8;
        grid-column-start: 4;
    }

/* footer */

    footer{
        grid-area: footer;
        font-size: 0.8vw;
        letter-spacing: 0.4vw;
        font-weight: lighter;
        color:var(--grey);
        margin-top: 4vh;
        text-align: center;
    }
