body{
    display: grid;
    background-color: var(--bluebglight);
    grid-template-rows: 170.2vh 10vh;
    grid-template-areas:
    'portfolio   '
    'footer      ';
}

.footer{
    background-color: var(--bluebg);
}


/* portfolio */
.portfolio{
    grid-template-rows: 10vh 7vh 2vh 10vh 40.4vh 40.4vh 40.4vh 5vh 5vh 10vh;
}

.project1{ grid-column-start:2 ; grid-row-start:5 ; margin: auto; }
.project2{ grid-column-start:3 ; grid-row-start:5 ; margin: auto; }
.project3{ grid-column-start:2 ; grid-row-start:6 ; margin: auto; }
.project4{ grid-column-start:3 ; grid-row-start:6 ; margin: auto; }
.project5{ grid-column-start:2 ; grid-row-start:7 ; margin: auto; }
.project6{ grid-column-start:3 ; grid-row-start:7 ; margin: auto; }

#hireme{ 
    grid-column-start: 2;
    grid-column-end: 4; 
    grid-row-start:9 ;
}


/* responsive for mobile screens */

@media screen and (max-width: 576px ){
    body{
        grid-template-rows:200vh 10vh;
    }

    .portfolio{
        grid-template-columns: 10vw 80vw 10vw;
        grid-template-rows: 10vh 5vh 2vh 4vh 25vh 2vh 25vh 2vh 25vh 2vh 25vh 2vh 25vh 2vh 25vh 2vh 7vh 10vh;
    }
    
    .project1,
    .project2,
    .project3,
    .project4,
    .project5,
    .project6{ grid-column-start:2; margin:auto;}
    
    .project1{ grid-row-start:5 ; }
    .project2{ grid-row-start:7 ; }
    .project3{ grid-row-start:9 ; }
    .project4{ grid-row-start:11 ; }
    .project5{ grid-row-start:13 ; }
    .project6{ grid-row-start:15 ; }

    #hireme{ grid-row-start:17 ; margin:auto;}
    }